<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<h1>Angular</h1>
<app-courses></app-courses>
<app-authors></app-authors>
<app-favorite [is-favorite]="post.isFavorite" (change)="onFavoriteChanged($event)"></app-favorite>
<app-panel>
    <ng-container class="heading">Heading</ng-container>
    <div class="body">
        <h1>Body</h1>
        <p>
            Some content here...
        </p>
    </div>
</app-panel>
<app-like [likesCount]="tweet.likesCount" [isLiked]="tweet.isLiked" [likesCount2]="tweet.likesCount"
    [isLiked2]="tweet.isLiked"></app-like>
<app-directive></app-directive>
<app-zippy title="Shipping Details">
    Shipping Details Content
</app-zippy>
<app-zippy title="Billing Details">
    Billing Details Content
</app-zippy>
<app-contac-form></app-contac-form>
<app-course-form></app-course-form>
<app-signup-form></app-signup-form>
<app-new-course-form></app-new-course-form>
<app-change-password></app-change-password>
<app-navbar></app-navbar>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder  * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


<router-outlet />