<div class="row">
    <div class="col-12 my-5">
        <form [formGroup]="form">
            <div class="form-group">
                <label for="name">Name</label>
                <input formControlName="name" id="name" type="text" class="form-control">
                <div *ngIf="name?.touched && !name?.valid" class="alert alert-danger my-2">
                    Name is required.
                </div>
                <div formGroupName="contact">
                    <label for="email">Email</label>
                    <input formControlName="email" id="email" class="form-control">
                    <label for="phone">Phone</label>
                    <input formControlName="phone" id="phone" class="form-control">
                </div>
                <label for="topics">Topics</label>
                <input type="text" class="form-control" (keyup.esc)="addTopic(topic)" #topic>
                <ul class="list-group">
                    <li *ngFor="let topic of topics.controls" (click)="removeTopic(topic)" class="list-group-item">
                        {{ topic.value }}
                    </li>
                </ul>
            </div>
        </form>
    </div>
</div>