<div class="row">
    <div class="col-12 my-2">
        <h1>My Followers</h1>
        <div *ngFor="let follower of followers" class="media d-flex flex-row">
            <img class="mr-3 avatar" src="{{ follower.avatar_url }}" alt="Generic placeholder image">
            <div class="media-body mx-2">
                <h4 class="media-headding mt-0">
                    <a [routerLink]="['/followers', follower.id, follower.login]">{{ follower.login }}</a>
                </h4>
                <a href="{{ follower.html_url }}" target="_blank">{{ follower.html_url }}</a>
            </div>
        </div>
    </div>
</div>